body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
    color: #171a2e;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: #171a2e; /* Couleur de fond du conteneur */
    color: white;
}

header {
    background: #007BFF; /* Couleur d'arrière-plan du header */
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

h1 {
    text-align: center;
}

main {
    padding: 20px 0;
}

section {
    background: #171a2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, p {
    color: white;
}

.cookie-option {
    margin-bottom: 10px;
}

.cookie-category {
    margin-bottom: 20px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.toggle-switch label {
    background-color: #4CAF50; /* Couleur de fond du toggle inactif */
}

.toggle-switch input:checked+label {
    background-color: #e74c3c; /* Couleur de fond du toggle actif (rouge) */
}

.toggle-switch label .custom-checkbox {
    background-color: #4CAF50; /* Couleur de fond de la case à cocher inactivée */
}

.toggle-switch input:checked + label .custom-checkbox {
    background-color: #e74c3c; /* Couleur de fond de la case à cocher activée (rouge) */
}

.toggle-switch label:before {
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.3s;
}

.toggle-switch input:checked+label:before {
    transform: translateX(26px);
}

button {
    background-color: #007BFF; /* Couleur de fond du bouton */
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #0056b3; /* Couleur de fond du bouton au survol */
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.scroll-to-top button {
    background-color: #007BFF;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.scroll-to-top button:hover {
    background-color: #0056b3;
}

.back-button {
    position: fixed;
    top: 10px;
    left: 10px;
    display: block;
    padding: 10px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
}

.back-button:hover {
    background-color: #0056b3;
}
