#ul_info_resultat_recherche{
    margin-left: 5px;
    margin-bottom: 5px;

    padding: 5px;

    max-width: 85vw;
    min-width: 85vw;
    

    background-color: #171a2e;
    color: white;

    list-style: none;

    position: sticky;
    top: 10vh;

    z-index: 9999;
}

#ul_resultat_recherche{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content : space-around;
    gap: 5px;    

    max-width: 85vw;

    justify-self: start;

    margin-bottom: 20px;
}
