#div_three_last_action{
    width: 100%;
    height: 30vh;

    margin: 0 10px 0 10px;
    
    /* background: linear-gradient(0deg, #e9e9e9 0%, #ffffff 50%); */
}

#div_three_last_action h2{
    color: #171a2e;
}

#list_three_last_action{
    display: flex;
    justify-content: space-around;  
    align-items: center;
    flex-wrap: wrap;
    height: 30vh;


}

/* ---- Action ----- */
#action{
    width: 30vh;
    padding: 1vh;

    background-color: whitesmoke;
    border: #171a2e solid 2px;
    color: #171a2e;
    list-style: none;
    
}

#action h4{
    height: 7vh;
    color: white;
    background: #171a2e;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
}

#action ul {
    display: flex;
    justify-content: space-between;  
    flex-direction: column;
    height: 100%;
}

#action ul li{
    list-style: none;

    width: 100%;

}

#descripion_action{
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
}

#action ul li a {
    color: #171a2e;
}

#date_action{
    font-size: 0.7em;

}

#image_action_div{
    max-height: 150px;
    text-align: center;
}

#action img{
    max-width: 19vw;
    max-height: 15vh;
}

#cookie-consent-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    z-index: 99999;
}

.cookie-consent-modal.active {
    display: flex;
}

body.modal-open {
    overflow: hidden; /* Empêche le défilement lorsque le modal est ouvert */
}

.content {
    background: whitesmoke;
    padding: 5vw 3vw;
    border-radius: 10px;
}

.btns {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
}

.btn {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    margin-right: 10px;
}

.btn.accept {
    background-color: #171a2e;
    color: #ffffff;
}

.custom-link {
    color: #171a2e; 
    text-decoration: none; 
    font-weight: bold; 
    text-decoration: none;
    font-weight: bold;
    position: fixed;
    top: 30px;
    right: 30px;
}

.custom-link:hover {
    color: #2c3e50; 
}

.titre1 {
    color: #171a2e;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.titre2 {
    font-size: 18px;
    margin-bottom: 15px;
}

.titre3 {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 15px;
}

.titre3 a {
    color: #171a2e;
    text-decoration: none;
    font-weight: bold;
}

.titre3 a:hover {
    color: #2c3e50;
}

.modal-open {
    overflow: hidden; /* Prevent scrolling */
    pointer-events: none; /* Make content not clickable */
}

.cookie-consent-modal {
    pointer-events: auto; /* Make modal clickable */
}