#comment {
    position: relative;
    box-sizing: border-box;
    padding: 15px;
    margin: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f8f9fa;
    color: #333;
}

#comment li {
    margin-bottom: 10px;
}

#comment button {
    padding: 8px 12px;
    background-color: #171a2e;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#comment button:hover {
    opacity: 0.8;
}

#comment strong {
    font-weight: bold; /* Ajout du style en gras */
}
